*.ttf
/기타 자료/ps2str
*.m2v
*.mpg
/codex-lab
/0.xenosaga0/scene/__pycache__
/0.xenosaga0/umn/__pycache__
/xtx 개발소/__pycache__
/컷신 영상
/0.xenosaga0/scene/__txt_shelter_current_byte_diff_0000_0869
*.new
/0.xenosaga0/scene/__txt_shelter_v3_duplicate_safe_0000_0869
