body{background-color:aliceblue;}
h1{text-align:center;color:turquoise;font-size:25pt;}
pre{font-size:12pt;margin-left:5%;}
.i{font-style:italic;}
.small{font-size:8pt;}
.bold{font-weight:bold;}
.red{color:red;}
.yellow{color:yellow;}
.green{color:green;}
.pink{color:pink;}
.hotpink{color:hotpink}
.aqua{color:aqua;}
.center{text-align:center;}
/*
     FILE ARCHIVED ON 05:45:59 Oct 30, 2004 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:19:52 Jul 20, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.435
  captures_list: 1.004
  exclusion.robots: 0.054
  exclusion.robots.policy: 0.042
  esindex: 0.009
  cdx.remote: 26.156
  LoadShardBlock: 194.472 (3)
  PetaboxLoader3.datanode: 82.203 (4)
  PetaboxLoader3.resolve: 76.034 (2)
  load_resource: 83.662
*/