body{background-color:aliceblue;}
h1{text-align:center;color:turquoise;font-size:25pt;}
pre{font-size:12pt;margin-left:5%;}
.i{font-style:italic;}
.small{font-size:8pt;}
.bold{font-weight:bold;}
.red{color:red;}
.yellow{color:yellow;}
.green{color:green;}
.pink{color:pink;}
.hotpink{color:hotpink}
.aqua{color:aqua;}
.center{text-align:center;}
/*
     FILE ARCHIVED ON 09:43:48 Aug 13, 2004 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:19:18 Jul 20, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 52.875
  captures_list: 0.577
  exclusion.robots: 0.052
  exclusion.robots.policy: 0.041
  esindex: 0.008
  cdx.remote: 11.847
  LoadShardBlock: 949.279 (3)
  PetaboxLoader3.datanode: 847.895 (4)
  PetaboxLoader3.resolve: 65.182 (2)
  load_resource: 101.143
*/